@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

.ContainerHeader
    display: flex
    color: rgb(102, 102, 102)
    justify-content: center
    text-align: center
    flex-direction: column
    font-size: 1.5rem
    background-color: rgb(204, 204, 204)
    font-family: 'Roboto'
