

.container-diretor
    width: auto
    height: auto
    display: flex
    flex-direction: column
    gap: 2rem
    align-items: center
    justify-content: center

    h1
        padding: 2rem
        font-family: 'Poppins'

    .btn-create
        padding: 0.7rem
        width: 10rem
        border: none
        border-radius: 0.3rem
        font-family: 'Poppins'

    
    .message
        padding: 10px
        margin-bottom: 10px
        border-radius: 4px
        font-family: 'Poppins'
        
        &.success
            background-color: #d4edda
            color: #155724
            border: 1px solid #c3e6cb
        
        &.error
            background-color: #f8d7da
            color: #721c24
            border: 1px solid #f5c6cb

    ul
        list-style: none
        display: flex
        flex-direction: column
        gap: 1rem
        padding: 1rem
        
        .informations   
            font-family: 'Poppins'
            align-items: center
            padding: 1rem
            display: flex
            gap: 10rem
            background-color: #f4f4f4
            box-shadow: 3px 3px 3px #b9b9b9
            justify-content: space-between
            border-radius: 0.5rem
            font-size: 1.2rem

            .Nome-professor-label
                color: #4b53c5
        
        .btns
            display: flex
            border: none
            gap: 1rem

            .btn
                border: none
                
                .icon
                    width: 2rem

form
    display: flex
    flex-direction: column
    gap: 0.5rem

    label
        font-family: 'Poppins'
        
    .campo-texto
        font-family: 'Poppins'
        padding: 0.5rem
        border: 1px solid #ccc
        border-radius: 0.3rem
        
        
        &.error
            border-color: #dc3545
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
        
        option
            font-family: 'Poppins'
    
    
    .error-message
        color: #dc3545
        font-size: 0.875em
        margin-top: 0.25rem
        display: block
        font-family: 'Poppins'
    
    .modal-buttons
        display: flex
        gap: 0.7rem 
        .btn-create
            margin: 0 auto
            width: 10rem